@model KakashiService.Web.ViewModel.ConfigurationVM
@{
    ViewBag.Title = "Read Service";
}
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="@Url.Action("Index","Registration")"  role="tab" >Registration</a></li>
    <li role="presentation" class="active"><a href="@Url.Action("Index","ReadService")"  role="tab" >Read Service</a></li>
</ul>
<div class="tab-pane active">
    <div class="panel panel-default">
        @*<div class="panel-heading">
                <h3 class="panel-title">Reading Module</h3>
            </div>*@
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Endpoint:</label>
                        <input id="Url" type="text" class="form-control" placeholder="Type your endpoint to be read" value="@Model.Url" />
                    </div>
                    <label class="control-label">OR</label>
                    <div class="form-group">
                        <label class="control-label">Import:</label>
                        <input id="import" type="file" multiple="multiple"  accept=".wsdl,.xsd" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="response" class="col-xs-12">
                    <div id="nameService">
                    </div>
                    <div id="functions">
                    </div>
                    <div id="objects">
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <input id="btnForm" type="button" class="btn btn-primary" value="Read!">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="result">
    </div>
</div>
@section scripts{
    <script src="~/Scripts/ReadService/Index.js"></script>
}
