<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="msbuildPath" value="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" xdt:Transform="Insert"/>
    <add key="iisPath" value="C:\inetpub\Local\" xdt:Transform="Insert"/>
    <add key="svcutilPath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v8.1A\bin\NETFX 4.5.1 Tools\SvcUtil.exe" xdt:Transform="Insert"/>
  </appSettings>
</configuration>